.home_star_sky {
    background-image: url("../../../images/home/star_sky_bg.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.home_moon {
    background-image: url("../../../images/home/mars.webp");
    background-size: cover;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    left: -5vw; 
    /* position: fixed;
    top: 55vh;
    left: -5vw; */
    transform: rotate(-10deg);
    /* animation-name:moon_move;
    animation-duration:2s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-animation--name:moon_move;
    -webkit-animation--duration:2s;
    -webkit-animation--delay: 2s;
    -webkit-animation--timing-function: ease;
    -webkit-animation-iteration-count: infinite; */
}

.home_sand_sea {
    background-image: url("../../../images/home/sand_sea.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 0 25vh;
    /* position: fixed;
    bottom: 0;*/

    position: absolute;
    top:0vh; 
}

@keyframes moon_move
{
    from {transform: rotate(-10deg);}
    to {transform: rotate(90deg);}
    from {top: 155vh;}
    to {top: 115vh;}
    from {left: -5vw;}
    to {left: 20vw;}
}

@-webkit-keyframes moon_move /*Safari and Chrome*/
{
    from {transform: rotate(-10deg);}
    to {transform: rotate(90deg);}
    from {top: 155vh;}
    to {top: 115vh;}
    from {left: -5vw;}
    to {left: 20vw;}
}

.slogan-moon {
    top: 55%;
    opacity: 0;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    /* animation-name:slogan_move;
    animation-duration:2s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-animation--name:slogan_move;
    -webkit-animation--duration:2s;
    -webkit-animation--delay: 2s;
    -webkit-animation--timing-function: ease;
    -webkit-animation-iteration-count: infinite; */
}

@media (min-width: 768px) {
    .slogan-moon {
        font-size: 3rem;
    }
}

@keyframes slogan_move
{
    from {top:50%;}
    to {top:45%;}
    from {opacity: 0.2;}
    to {opacity: 1;}
}

@-webkit-keyframes slogan_move /*Safari and Chrome*/
{
    from {top:50%;}
    to {top:45%;}
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.home_jupiter {
    background-image: url("../../../images/home/jupiter.webp");
    background-size: cover;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 75vh;
    right: 5vw;
    /* position: fixed;
    top: 55vh;
    left: -5vw; */
    transform: rotate(90deg);
    /* animation-name:moon_move;
    animation-duration:2s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-animation--name:moon_move;
    -webkit-animation--duration:2s;
    -webkit-animation--delay: 2s;
    -webkit-animation--timing-function: ease;
    -webkit-animation-iteration-count: infinite; */
}

#moon_page {
    position: relative;
    height: 300vh;
    width: 100vw;
}

.home-page-2 {
    height: 100vh;
    background-image: url("../../../images/home/careers_inspiration.webp");
    background-position: bottom;
    background-size: cover;
}

.home-page-3 {
    height: 100vh;
    background-image: none;
}

@media screen and (max-width: 900px) {
    .home-page-3 {
        height: 100vh;
        background-image: url("../../../images/home/F9_1.webp");
        background-position: bottom;
        background-size: cover;
    }
}

.home-page-4 {
    height: 100vh;
    background-image: url("../../../images/home/Merlin.webp");
    background-position: bottom;
    background-size: cover;
}

.home-page-5 {
    height: 100vh;
    background-image: url("../../../images/home/f9_feature.webp");
    background-position: bottom;
    background-size: cover;
}

.home-video-canvas {
    width: 100vw;
    height: 100vh;
}